html {background-color: black}

.wd-font-default {
    color: darkgray;
    font-family: "Helvetica Neue";
    size: 12px;
}

.wd-title-font{
    color: white;
    font-family: "Helvetica Neue";
    size: 20px;
}

.wd-story-title-font{
    color: white;
    font-family: "Helvetica Neue";
    size: 15px;
    font-weight: bold;
    padding:12px;
}

.wd-story-font{
    color: lightgray;
    font-family: "Helvetica Neue";
    size: 15px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    float:left;
}

.wd-author-font {
    color: white;
    font-family: "Helvetica Neue";
    size: 15px;
    font-weight: bold;
    position: relative;

}

.wd-handle-font{
    color: lightgray;
    font-family: "Helvetica Neue";
    size: 13px;
}
.wd-main-content-font {
    color: white;
    font-family: "Helvetica Neue";
    size: 15px;
    float: left;
    width: 506px;
    margin-bottom: 12px;
}


.wd-border{
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    overflow:hidden;
}

.wd-profile-picture {
    border-radius: 24px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 12px;
}

.wd-bookmark-story-picture {
    width: 504px;
    height: 264px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.wd-image-border {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin-top: 12px;
    overflow:hidden
}

.wd-icon {
    height: 24px;
    width: 24px;
    float: left;
    position: relative;
    margin-right: 12px

}

.wd-icon-font {
    color: lightgray;
    font-family: "Helvetica Neue";
    size: 15px;
    float: left
}

.wd-heart-font {
    color: red;
    font-family: "Helvetica Neue";
    size: 15px;
    float: left
}

.wd-icon-and-text {
    float: left;
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;


}