.wd-margins {
    padding: 20px;
}

.wd-margins-right {
    margin-right: 16px;
}

.wd-margins-top {
    margin-top: 16px;
}

.wd-override-tuit-button {
    margin-top: 8px;
    border-radius: 48px;

}

.wd-font-dimgray {
    color: rgb(61,61,61);
}

.wd-profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 5px;
}

.wd-auto-overflow {
    overflow: auto;
}

.wd-font-profile-name {
    font-size: 12px;
    font-weight: bold;

}

.wd-font-username {
    font-size: 12px;
}

.wd-float-left {
    float: left;
}

